body {
    background-color: thistle;
    margin: 0;
}

input:invalid {
    border-color: red;
    background-color: rgb(255, 179, 179) !important;
    color: black;
}

form:invalid > button {
    filter: grayscale();
}

[hidden] {
    display: none !important;
}

.centred {
    text-align: center;
    margin-top: 0;
}

.mulish-normal {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.mulish-light {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.padding {
    padding: 1rem;
}

.button {
    width: 80vw;
    margin: 0.7rem 10vw 0.7rem 10vw;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    border: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

.primaryButton {
    background-image: linear-gradient(
        45deg,
        rgb(148, 207, 238),
        rgb(185, 114, 201)
    );
}

.secondaryButton {
    background-color: rgb(189, 189, 250);
}

.redButton {
    background-image: linear-gradient(
        45deg,
        rgb(249, 181, 181),
        rgb(143, 15, 15)
    );
}

.halfButton {
    width: 45vw;
    margin-left: calc(2.5vw - 1px);
    margin-right: calc(2.5vw - 1px);
}

.circleButton {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    padding: 0;
}

.rightButton {
    position: absolute;
    margin-left: calc(100vw - 6.5rem);
    margin-top: -4.5rem;
}

.backButton {
    margin: 0;
    text-align: left;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.time {
    text-align: center;
    font-size: 5rem;
}

.bigSelect {
    text-align: center;
    padding: 0.5rem 1rem 10px 0.5rem;
    width: 10rem;
    background-color: transparent;
    border: 0;
    margin: 0 calc(50vw - 5rem - 1rem) 2rem calc(50vw - 5rem - 1rem);
}

.smallSelect {
    background-color: transparent;
    border: 0;
    width: 5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 12px;
    transition: 0.2s;
}

.smallSelect:focus {
    background-color: white;
}

.number {
    width: 3.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 12px;
    transition: 0.2s;
}

.number:focus {
    background-color: white;
}

.dateAndTime {
    width: 10rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 12px;
    transition: 0.2s;
}

.dateAndTime:focus {
    background-color: white;
}

.pastDriveForm {
    padding: 0.8rem;
}

.driveList {
    list-style: none;
    width: calc(100vw - 2rem);
    margin: 0;
    padding: 1rem;
}

.driveListItem {
    border: 1px solid black;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 12px;
}

.confirm {
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(9px);
    height: calc(100vh - 2rem);
    padding-top: 2rem;
}
