:root {
    --backgroundColor: thistle;
    --primaryBackground: linear-gradient(
            25deg,
            rgb(148, 207, 238),
            rgb(185, 114, 201)
    );
    --secondaryBackground: rgb(189, 189, 250);
    --redBackground: linear-gradient(
            25deg,
            rgb(249, 181, 181),
            rgb(143, 15, 15)
    );
    --textColor: black;
    --totalProgressColor: rgb(156, 156, 242);
    --nightProgressColor: #333030;
    --totalProgressDarker: rgb(64, 64, 121);
}

.darkMode {
    --backgroundColor: #220022;
    --primaryBackground: linear-gradient(
            25deg,
            rgb(35, 98, 131),
            rgb(113, 6, 136)
    );
    --secondaryBackground: rgb(70, 70, 117);
    --redBackground: linear-gradient(25deg, rgb(152, 106, 106), rgb(83, 3, 3));
    --textColor: rgb(207, 207, 207);
    --totalProgressColor: rgb(132, 132, 200);
    --nightProgressColor: #575252;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    margin: 0;
}

input {
    color: var(--textColor);
    font-size: 16px;
}

input:invalid {
    border-color: red;
    background-color: rgb(255, 179, 179) !important;
    color: black;
}

form:invalid > button {
    filter: grayscale();
}

[hidden] {
    display: none !important;
}

.centred {
    text-align: center;
    margin-top: 0;
}

.mulish-normal {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.mulish-light {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

.padding {
    padding: 1rem;
}

.button {
    width: 80%;
    margin: 0.7rem 10% 0.7rem 10%;
    padding: 1rem;
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    text-decoration: none;
    color: var(--textColor);
    border: 0;
    font-size: 1rem;
    box-sizing: border-box;
}

.primaryButton {
    background-image: var(--primaryBackground);
}

.secondaryButton {
    background-color: var(--secondaryBackground);
}

.redButton {
    background-image: var(--redBackground);
}

.halfButton {
    width: 45%;
    margin-left: calc(2.5% - 1px);
    margin-right: calc(2.5% - 1px);
}

.circleButton {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    padding: 0;
}

.rightButton {
    position: absolute;
    margin-left: calc(100% - 6.5rem);
    margin-top: -4.5rem;
}

.backButton {
    margin: 0;
    text-align: left;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.time {
    text-align: center;
    font-size: 5rem;
}

.bigSelect {
    text-align: center;
    padding: 0.5rem 1rem 10px 0.5rem;
    width: 10rem;
    background-color: transparent;
    border: 1px solid var(--textColor);
    border-radius: 12px;
    margin: 0 calc(50% - 5rem) 2rem calc(50% - 5rem);
    color: var(--textColor);
}

.smallSelect {
    background-color: transparent;
    width: 5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--textColor);
    border-radius: 12px;
    transition: 0.2s;
    color: var(--textColor);
}

.smallSelect:focus {
    background-color: white;
    color: black;
}

.number {
    width: 3.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--textColor);
    background-color: transparent;
    border-radius: 12px;
    transition: 0.2s;
}

.number:focus {
    background-color: white;
    color: black;
}

.dateAndTime {
    width: 10rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: transparent;
    border: 1px solid var(--textColor);
    border-radius: 12px;
    transition: 0.2s;
}

.dateAndTime:focus {
    background-color: white;
    color: black;
}

.pastDriveForm {
    padding: 0.8rem;
}

.driveList {
    list-style: none;
    width: calc(100% - 2rem);
    margin: 0;
    padding: 1rem;
}

.driveListItem {
    border: 1px solid var(--textColor);
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 12px;
}

.confirm {
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(9px);
    height: calc(100vh - 2rem);
    padding-top: 2rem;
}

.progress {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.totalHours {
    width: 16rem;
    height: 16rem;
    margin: 2rem calc(50% - 8rem) 2rem calc(50% - 8rem);
}

.nightHours {
    width: 13rem;
    height: 13rem;
}

.innerProgress {
    background: var(--backgroundColor);
    width: 10rem;
    height: 10rem;
    display: inline-flex;
    flex-direction: column;
    padding: 0;
}

.progressText {
    padding: 0;
    margin: 0;
}
